<h1>this is a protected route</h1>
<p>Welcome {{currentUser.username}} </p>
<p>If the $!*$**!$ dev wasn't so lazy, this would be your profile page, with some infos you can edit, and a funny gif</p>
<p>As you can see, it's not</p>
<p>Good night though</p>